---
import { getImageUrl } from "@/lib/helpers";
import { Image } from "astro:assets";

let { image } = Astro.props;
---

<section class="w-full relative overflow-hidden">
  <Image
    src={getImageUrl(image, 1920) ?? ""}
    alt={image.alt || ""}
    class="w-full h-auto object-cover"
    loading="lazy"
    width={1920}
    height={800}
  />
</section>
